<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      		layout:decorate="/login/_layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/bootstrap-sidebar.css}" />
	<title>Vehicle Directory</title>
	<style>
		  .buttons {
			width: 200px;
			margin: 0 auto;
			display: inline;}
	</style>
</head>

<body>
	<div layout:fragment="content">
	<h2 style="margin-top: 1.5em;">Vehicle Directory</h2>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
    <form th:action="@{/employees/search}" class="form-inline">
				
				<input class="form-control mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />
		
				<button class="btn btn-success mb-3 mr-sm-5" type="submit">Search</button>
				
				<a th:href="@{/vehicles/addVehicle}"
					class="btn btn-primary mb-3">
					Add Vehicle
				</a>
		    </form>	
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Vehicle ID</th>
				<th>Plate Number</th>
				<th>Year Model</th>
				<th>Brand</th>

				<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
				
					<th>Action</th>
								
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempVehicle : ${vehicles}">
			
				<td th:text="${tempVehicle.id}" />	
				<td th:text="${tempVehicle.plateNumber}" />	
				<td th:text="${tempVehicle.yearModel}" />
				<td th:text="${tempVehicle.brand}" />
				
				
				<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
				<div class="buttons">
					<td>
						<div>
						<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
	
							<!-- Add "update" button/link -->
							<a th:href="@{/employees/showFormForUpdate(vehicleId=${tempVehicle.id})}"
							   class="btn btn-info btn-sm inline">
								Update
							</a>
	
						</div>	
										
						<div>
						<!-- <div sec:authorize="hasRole('ROLE_ADMIN')"> -->  
						
							<!-- Add "delete" button/link -->					
							<a th:href="@{/drivers/delete(vehicleId=${tempVehicle.id})}"
							   class="btn btn-danger btn-sm inline"
							   onclick="if (!(confirm('Are you sure you want to delete this Driver?'))) return false">
								Delete
							</a>
	
						</div>					
					</td>
				</div>
			</tr>
		</tbody>		
	</table>

</div>
	
</body>
</html>