<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      		layout:decorate="login/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/bootstrap-sidebar.css}" />
	<title>Payment Transactions</title>
	<style>
		  .buttons {
			width: 200px;
			margin: 0 auto;
			display: inline;}
	</style>
</head>

<body>
	<div layout:fragment="content">
            <h2 style="margin-top: 1.5em;">Payments</h2>

			<form th:action="@{/payments/search}" class="form-inline">
				
				<input class="form-control mr-sm-2 mb-3" type="search" name="name" placeholder="Search by name" />
		
				<button class="btn btn-success mb-3 mr-sm-5" type="submit">Search</button>
				
				<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger mb-3 mr-sm-5"></div>
				
				<a th:href="@{/payments/add}"
					class="btn btn-primary mb-3">
					Add Payment
				</a>
		    </form>	
			
			<table class="table table-bordered table-striped table-responsive-md">
				<thead class="thead-dark">
					<tr>
						<th>Transaction ID</th>
						<th>Driver Name</th>
						<th>Vehicle Plate Number</th>
						<th>Boundary</th>
		
						<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
						
							<th>Action</th>
										
					</tr>
				</thead>
		
				<tbody>
					<tr th:each="tempPayment : ${payments}">
					
						<td th:text="${tempPayment.id}" />
						<td th:text="${tempPayment.driverName}" />		
						<td th:text="${tempPayment.vehicle.plateNumber}" />
						<td th:text="${tempPayment.amountBoundary}" />
						<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
							<td>
								<!-- <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->
			
									<!-- Add "update" button/link -->
									<a th:href="@{/payments/update(paymentId=${tempPayment.id})}"
									   class="btn btn-info mr-sm-3">
										Update
									</a>
			

								<!-- <div sec:authorize="hasRole('ROLE_ADMIN')"> -->  
								
									<!-- Add "delete" button/link -->					
									<a th:href="@{/payments/delete(paymentId=${tempPayment.id})}"
									   class="btn btn-danger inline"
									   onclick="if (!(confirm('Are you sure you want to delete this Driver?'))) return false">
										Delete
									</a>
							
							</td>
					</tr>
				</tbody>		
	</table>
            <div class="line"></div>
    </div>
    <script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    </script>

	

	
</body>
</html>