<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="login/layout">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}" />
	<link th:rel="stylesheet" th:href="@{/css/bootstrap-datepicker.standalone.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
	<link th:rel="stylesheet" th:href="@{/css/bootstrap-sidebar.css}" />
	
	<!-- JS for Calendar -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	
	
<title>Add Payment</title>
</head>

<body>
	<div layout:fragment="content">
	
			<h2 style="margin-top: 1em;">Payments</h2>
			<hr>
	
			<p class="h4 mb-4">Add Payment</p>
	
	
			<form action="#" th:action="@{/payments/savePayment}"
				th:object="${payment}" method="POST">
				
				<div class="form-inline row">
					<label for="driver" class="h5 mb-4 col-sm-2">Driver</label> 
					<select name="driver" id="driver" class="form-control mb-4 col-sm-2"
							th:field="*{driver}" >
						<option value="" selected>Select Driver</option>
						<option th:each="driver : ${drivers}" th:text="${driver.firstName}"
								th:value="${driver.id}" />
					</select> 
					<ul>
						<li th:each="err : ${#fields.errors('driver.id')}" th:text="${err}" class="alert alert-danger" />
					</ul>
				</div>
				
				<div class="form-inline row">
					<label for="driver" class="h5 mb-4 col-sm-2">Boundary</label> 
					<input type="number" step="100.00" th:field="*{amountBoundary}"
						class="form-control mb-4 col-sm-2" placeholder="1500">
					<ul>
						<li th:each="err : ${#fields.errors('amountBoundary')}" th:text="${err}" class="alert alert-danger" />
					</ul>
				</div>
				
				
				<div class="form-inline row">
				<label for="vehicles" class="h5 mb-4 col-sm-2">Vehicle</label>
					<select
						name="vehicles" id="vehicles" class="form-control mb-4 col-sm-2"
						th:field="*{vehicle}">
						<option value="" selected>Select Vehicle</option>
						<option th:each="vehicle : ${vehicles}"
							th:text="${vehicle.plateNumber}" th:value="${vehicle.id}" />
					</select>
					<ul>
						<li th:each="err : ${#fields.errors('vehicle.id')}" th:text="${err}" class="alert alert-danger" />
					</ul>
				</div>
				
				<div class="form-inline row">			
					<label for="travelDate" class="h5 mb-4 col-sm-2">Travel Date</label>
					<div class="input-group date mb-4 col-sm-2">
						<input type="text" class="form-control" id="travelDate" name="travelDate"
							autocomplete="off" th:field="*{travelDate}" />
						<div class="input-group-append">
							<span class="input-group-text">
							<i class="far fa-calendar-alt"></i></span>
						</div>
					</div>
					<ul>
							<li th:each="err : ${#fields.errors('travelDate')}" th:text="${err}" class="alert alert-danger" />
						</ul>	
				</div>
				
				<div class="form-inline row">
					<label for="paymentDate" class="h5 mb-4 col-sm-2">Payment Date</label>
					<div class="input-group date mb-4 col-sm-2">
						
						<input type="text" class="form-control" id="paymentDate" name="paymentDate"
							autocomplete="off" th:field="*{paymentDate}" />
						<div class="input-group-append">
							<span class="input-group-text">
							<i class="far fa-calendar-alt"></i></span>
						</div>
						
					</div>
					<ul>
							<li th:each="err : ${#fields.errors('paymentDate')}" th:text="${err}" class="alert alert-danger" />
						</ul>
				</div>
	
				<button type="submit" class="btn btn-info col-sm-2">Save</button>
	
	
			</form>

		<script>
			$('.input-group.date').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'yyyy-mm-dd',
			}).datepicker("setDate", 'now');
		</script>
	</div>
</body>
</html>



