<!DOCTYPE html>
<html 
lang="en" 
xmlns:th="https://www.thymeleaf.org" 
xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="login/layout"
>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Payments - New Payment</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div layout:fragment="content">
    <div class="pagetitle">
      <h1>Payments</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/payments">Payments</a></li>
          <li class="breadcrumb-item active">New Payment</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Payment</h5>
              <!-- Multi Columns Form -->
              <form class="row g-3 needs-validation" action="#" th:action="@{/payments/save}" th:object="${payment}"
                method="POST" onsubmit="return validatePaymentDescriptionHandler()" novalidate>
                <!-- Hidden Fields -->
                <!-- Text Box for payment id -->
                <input type="hidden" th:field="*{id}" />
                <!-- Text Box for amount_rate_boundary -->
                <input type="hidden" class="form-control"
                      th:field="*{amountRateBoundary}" id="amountRateBoundary">
                <!-- Text Box for payment description -->
                <input type="hidden" class="form-control" placeholder="Complete Boundary, Trouble, No Driver etc."
                      th:field="*{paymentDescription}" id="paymentDescription">
                <div class="col-md-6">
                  <label class="col-sm-3 col-form-label">Vehicle</label>
                  <div class="col-sm-12">
                      <input list="vehicleList" name="vehicle" id="vehicle" class="form-control" placeholder="Select Vehicle"
                             th:field="*{vehicle}" onchange="getBoundaryRateHandler()" required>
                      <datalist id="vehicleList">
                          <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:data-value="${vehicle.boundaryRate}"
                                  th:text="${vehicle.plateNumber}">
                          </option>
                      </datalist>
                      <div class="invalid-feedback">
                          Please provide a Vehicle.
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-3">
                <label class="col-sm-12 col-form-label">Plate Number</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="selectedVehicle" readonly>
                </div>
              </div>
                <div class="col-md-6">
                  <label class="col-sm-3 col-form-label">Driver</label>
                  <div class="col-sm-12">
                      <input list="driverList" name="drivers" id="drivers" class="form-control" placeholder="Select Driver"
                             th:field="*{driver}" required>
                      <datalist id="driverList">
                          <option th:each="driver : ${drivers}" th:value="${driver.id}"
                                  th:text="${driver.firstName + ' ' + driver.lastName}">
                          </option>
                      </datalist>
                      <div class="invalid-feedback">
                          Please provide a Driver.
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-3">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="selectedDriver" readonly>
                </div>
              </div>
                <fieldset class="col-md-6" id="paymentType" th:field="*{paymentType}"
                  onChange="setPaymentTypeHandler()">
                  <legend class="col-form-label col-sm-10 pt-0">Payment Type</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentType" id="paymentTypeFull"
                        value="FULL_BOUNDARY" th:checked="${payment != null && payment.paymentType == 'FULL_BOUNDARY'}">
                      <label class="form-check-label" for="paymentTypeFull">
                        Full Boundary
                      </label>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="paymentType" id="paymentTypeShort"
                        value="SHORT" th:checked="${payment != null && payment.paymentType == 'SHORT'}">
                      <label class="form-check-label" for="paymentTypeShort">
                        Short
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentType" id="paymentTypePartial"
                        value="PARTIAL_BOUNDARY"
                        th:checked="${payment != null && payment.paymentType == 'PARTIAL_BOUNDARY'}">
                      <label class="form-check-label" for="paymentTypePartial">
                        Partial Boundary
                      </label>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="paymentType" id="paymentTypeNoBoundary"
                        value="NO_BOUNDARY" th:checked="${payment != null && payment.paymentType == 'NO_BOUNDARY'}">
                      <label class="form-check-label" for="paymentTypeNoBoundary">
                        No Boundary
                      </label>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="paymentType" id="paymentTypeChargeBoundary"
                        value="CHARGE_BOUNDARY"
                        th:checked="${payment != null && payment.paymentType == 'CHARGE_BOUNDARY'}">
                      <label class="form-check-label" for="paymentTypeChargeBoundary">
                        Charge Boundary
                      </label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="col-md-6" id="rateBoundary" onChange="adjustBoundaryRate()" th:field="*{rateBoundary}">
                  <legend class="col-form-label col-sm-10 pt-0">Boundary Rate</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rateBoundary" id="boundaryRateRegular"
                        value="REGULAR" th:checked="${payment != null && payment.rateBoundary == 'REGULAR'}">
                      <label class="form-check-label" for="boundaryRateRegular">
                        Regular
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rateBoundary" id="boundaryRateWeekend"
                        value="WEEKEND" th:checked="${payment != null && payment.rateBoundary == 'WEEKEND'}">
                      <label class="form-check-label" for="boundaryRateWeekend">
                        Weekend
                      </label>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="rateBoundary" id="boundaryRateHoliday"
                        value="HOLIDAY" th:checked="${payment != null && payment.rateBoundary == 'HOLIDAY'}">
                      <label class="form-check-label" for="boundaryRateHoliday">
                        Holiday
                      </label>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="rateBoundary" id="coding" value="CODING"
                        th:checked="${payment != null && payment.rateBoundary == 'CODING'}">
                      <label class="form-check-label" for="coding">
                        Coding
                      </label>
                    </div>
                  </div>
                </fieldset>
                
                <div class="col-md-6">
                  <label for="boundary" class="col-sm-6 form-label">Boundary</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountBoundary}" id="boundary">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="short" class="col-sm-6 form-label">Short</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountShort}" id="boundaryShort">
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="col-form-label col-sm-12 pt-0">Other Payments</label>
                  <div class="ms-0 mb-2">
                    <div class="form-check col-md-3">
                      <input name="otherPayments" class="form-check-input" type="checkbox" id="otherPaymentsFund"
                        onchange="otherPaymentsHandler()">
                      <label class="form-check-label" for="otherPaymentsFund">
                        Fund
                      </label>
                    </div>
                    <div class="form-check col-md-4">
                      <input name="otherPayments" class="form-check-input" type="checkbox" id="otherPaymentsLoan"
                        onchange="otherPaymentsHandler()">
                      <label class="form-check-label" for="otherPaymentsLoan">
                        Loan Payment
                      </label>
                    </div>
                    <div class="form-check col-md-3">
                      <input name="otherPayments" class="form-check-input" type="checkbox"
                        id="otherPaymentsContribution" onchange="otherPaymentsHandler()">
                      <label class="form-check-label" for="otherPaymentsContribution">
                        Contribution
                      </label>
                    </div>
                    <div class="form-check col-md-3">
                      <input name="otherPayments" class="form-check-input" type="checkbox" id="otherPaymentsCarwash"
                        onchange="otherPaymentsHandler()">
                      <label class="form-check-label" for="otherPaymentsCarwash">
                        Carwash
                      </label>
                    </div>
                    <div class="form-check col-md-3">
                      <input name="otherPayments" class="form-check-input" type="checkbox" id="otherPaymentsPenalty"
                        onchange="otherPaymentsHandler()">
                      <label class="form-check-label" for="otherPaymentsPenalty">
                        Penalty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="col-form-label col-sm-12 pt-0">Payment Description</label>
                  <div class="invalid-feedback" id="errorDiv" style="display: none;">
                    Please provide a Description.
                  </div>
                  <div class="ms-0 mb-2">
                    <div class="form-check col-md-2">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="late"
                        onchange="appendPaymentDescriptionHandler()" value="late">
                      <label class="form-check-label" for="late">
                        Late
                      </label>
                    </div>
                    <div class="form-check col-md-2">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="extraDriver"
                        onchange="appendPaymentDescriptionHandler()" value="extra driver">
                      <label class="form-check-label" for="extraDriver">
                        Extra
                      </label>
                    </div>
                    <div class="form-check col-md-6">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="noDriver"
                        onchange="appendPaymentDescriptionHandler()" value="no driver">
                      <label class="form-check-label" for="noDriver">
                        No Driver
                      </label>
                    </div>
                    <div class="form-check col-md-2">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="absent"
                        onchange="appendPaymentDescriptionHandler()" value="absent">
                      <label class="form-check-label" for="absent">
                        Absent
                      </label>
                    </div>
                    <div class="form-check col-md-6">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="mainAndRepair"
                        onchange="appendPaymentDescriptionHandler()" value="maintenance">
                      <label class="form-check-label" for="mainAndRepair">
                        Maintenance and Repair
                      </label>
                    </div>
                    <div class="form-check col-md-2">
                      <input name="typeDescription" class="form-check-input" type="checkbox" id="accident"
                        onchange="appendPaymentDescriptionHandler()" value="accident">
                      <label class="form-check-label" for="accident">
                        Accident
                      </label>
                    </div>
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="boundaryFund" class="col-sm-6 form-label">Fund</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountFund}" id="boundaryFund">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="boundaryLoan" class="col-sm-6 form-label">Loan Payment</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountLoanPayment}" id="boundaryLoan">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="contribution" class="col-sm-6 form-label">Contribution</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountContribution}" id="contribution">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="carwash" class="col-sm-6 form-label">Carwash</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountCarwash}" id="carwash">
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="remarks" class="form-label col-sm-6">Remarks</label>
                  <input type="text" class="form-control" id="remarks" placeholder="" th:field="*{remarks}">
                </div>

                <div class="col-md-6">
                  <label for="travelDate" class="col-sm-6 form-label">Travel Date</label>
                  <div class="col-sm-12">
                    <input type="date" class="form-control" id="travelDate" th:field="*{travelDate}" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="paymentDate" class="col-sm-6 form-label">Payment Date</label>
                  <div class="col-sm-12">
                    <input type="date" class="form-control" id="paymentDate" th:field="*{paymentDate}" required>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/payment-inputs.js"></script>
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <script src="/js/payment-inputs.js"></script>

</body>

</html>