<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="login/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Payments - New Payment</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div layout:fragment="content">
    <div class="pagetitle">
      <h1>Payments</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/payments">Payments</a></li>
          <li class="breadcrumb-item active">New Payment</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Payment</h5>
              <!-- Multi Columns Form -->
              <form class="row g-3 needs-validation" action="#" th:action="@{/payments/save}" th:object="${payment}"
                method="POST" novalidate>
                <input type="hidden" th:field="*{id}" />
                <div class="col-md-6">
                  <label class="col-sm-3 col-form-label">Vehicle</label>
                  <div class="col-sm-12">
                    <select name="vehicles" id="vehicles" class="form-select" aria-label="Default select example"
                      th:field="*{vehicle}" required>
                      <option value="" selected>Select Vehicle</option>
                      <option th:each="vehicle : ${vehicles}" th:text="${vehicle.plateNumber}"
                        th:value="${vehicle.id}" />
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-sm-3 col-form-label">Driver</label>
                  <div class="col-sm-12">
                    <select name="drivers" id="drivers" class="form-select" aria-label="Default select example"
                      th:field="*{driver}" required>
                      <option value="" selected>Select Driver</option>
                      <option th:each="driver : ${drivers}" th:text="${driver.firstName} + ' ' + ${driver.lastName}"
                        th:value="${driver.id}" />
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="boundary" class="col-sm-6 form-label">Boundary</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountBoundary}">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="short" class="col-sm-6 form-label">Short</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountShort}">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="fund" class="col-sm-6 form-label">Fund</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountFund}">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="loanPayment" class="col-sm-6 form-label">Loan Payment</label>
                  <div class="col-sm-12">
                    <input type="number" class="form-control" th:field="*{amountLoanPayment}">
                  </div>
                </div>
                <div class="col-12">
                  <label for="remarks" class="form-label">Remarks</label>
                  <input type="text" class="form-control" id="remarks"
                    placeholder="Complete Boundary, Trouble, No Driver etc." th:field="*{remarks}">
                </div>
                <div class="col-md-6">
                  <label for="travelDate" class="col-sm-4 form-label">Travel Date</label>
                  <div class="col-sm-12">
                    <input type="date" class="form-control date" id="travelDate" th:field="*{travelDate}" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="paymentDate" class="col-sm-6 form-label">Payment Date</label>
                  <div class="col-sm-12">
                    <input type="date" class="form-control date" id="paymentDate" th:field="*{paymentDate}" required>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    document.querySelector('#travelDate').valueAsDate = new Date()
    document.querySelector('#paymentDate').valueAsDate = new Date()
  </script>

</body>

</html>