<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="login/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Driver Form</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div layout:fragment="content">
    <div class="pagetitle">
      <h1>Drivers</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/drivers">Drivers</a></li>
          <li class="breadcrumb-item active">New Driver</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Driver</h5>

              <form class="row g-3 needs-validation" action="#" th:action="@{/drivers/save}" th:object="${driver}"
                method="POST" novalidate>
                <input type="hidden" th:field="*{id}" />

                <div class="col-md-6">
                  <label for="firstName" class="form-label">First Name</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control has-validation" id="firstName" th:field="*{firstName}"
                      required>
                    <div class="invalid-feedback">
                      Missing First Name!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="firstName" class="form-label">Last name</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
                    <div class="invalid-feedback">
                      Missing Last Name!
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="address" placeholder="Antipolo City"
                      th:field="*{driverPersonalInfo.address}" required>
                    <div class="invalid-feedback">
                      Missing Address!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="birthDate" class="col-sm-4 form-label">Birth Date</label>
                  <div class="col-sm-10 input-group has-validation">
                    <input type="date" class="form-control" th:field="*{driverPersonalInfo.birthDate}" required>
                    <div class="invalid-feedback">
                      Missing Birthdate!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="mobileNumber" class="col-sm-6 form-label">Mobile Number</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" th:field="*{driverPersonalInfo.mobileNumber}"
                      placeholder="09XX-XXX-XXXX" required>
                    <div class="invalid-feedback">
                      Missing Mobile Number!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="licenseId" class="form-label">License ID</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="licenseId" th:field="*{driverPersonalInfo.licenseId}"
                      required>
                    <div class="invalid-feedback">
                      Missing License Number!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="expDate" class="col-sm-6 form-label">Expiration Date</label>
                  <div class="col-sm-10 input-group has-validation">
                    <input type="date" class="form-control" th:field="*{driverPersonalInfo.licenseExpirationDate}"
                      required>
                    <div class="invalid-feedback">
                      Missing Expiration date!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="employmentDate" class="col-sm-7 form-label">Employment Date</label>
                  <div class="col-sm-10 input-group has-validation">
                    <input type="date" class="form-control" th:field="*{employmentDate}" required>
                    <div class="invalid-feedback">
                      Missing Employment date!
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>
        </div>
    </section>
  
  </div>
  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
</body>

</html>